@import "tailwindcss";

:root {
  font-size: 12px;
  scroll-behavior: smooth;

  --background: #2d2b30;
  --background2: #1d1d1f;
  --foreground: #e3e3e3;
  --brand: #ebc59c;
  --container: #3e3b42;
}

@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}

@theme inline {
  --color-brand: var(--brand);
  --color-background: var(--background);
  --color-dark: var(--background2);
  --color-foreground: var(--foreground);
  --color-container: var(--container);
}

@layer utilities {
  .hover-raise {
    @apply hover:-translate-y-1 transition-transform duration-200 ease-in-out will-change-transform;
  }

  .hover-grow {
    @apply hover:scale-105 transition-transform duration-200 ease-in-out will-change-transform;
  }
}

body.dark {
  --background: #e3e3e3;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.scrolling-banner {
  width: 100%;
  overflow: hidden;
  background-color: var(--brand);
  color: var(--background);
  white-space: nowrap;
}

.scrolling-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 15s linear infinite;
}

.scrolling-item {
  display: inline-block;
  padding-right: 2rem; /* space between repeats */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
