@import "tailwindcss";

:root {
  font-size: 12px;

  --background: #2d2b30;
  --foreground: #e3e3e3;
  --brand: #ebc59c;
  --container: #3e3b42;
}

body.dark {
  --background: #e3e3e3;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

.scrolling-banner {
  width: 100%;
  overflow: hidden;
  background-color: var(--brand);
  color: var(--background);
  white-space: nowrap;
}

.scrolling-track {
  display: flex;
  width: fit-content;
  animation: scroll-left 15s linear infinite;
}

.scrolling-item {
  display: inline-block;
  padding-right: 2rem; /* space between repeats */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .bg-dark {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .bg-brand {
    background-color: var(--brand);
    color: var(--background);
  }
  .bg-bg {
    background-color: var(--background);
    color: var(--foreground);
  }
  .bg-fg {
    background-color: var(--foreground);
    color: var(--background);
  }
  .bg-container {
    background-color: var(--container);
  }

  .text-brand {
    color: var(--brand);
  }

  .text-fg {
    color: var(--foreground);
  }

  .border-brand {
    border-color: var(--brand);
  }
}
